body{
    background-color: rgba(242, 224, 241, 0.614)
}
html{
    background-color: white;
}
header{
    padding-left: 10px;
    padding-right: 10px;
    background-color: #2e012de8;
    color:white;
}
.main_head{
    width:100%;
    background-color: #bbe6ef4a;
    border-bottom:1px solid #0000001a ;
}
.slide_bars{
    padding-top:10px;
    /* background-color: #bbe6ef4a; */
    background-color: rgba(231, 225, 225, 0.284);
}
.slide_img{
     border-radius: 8px;
     width: 100%; 
     height:70vh;
}
.para{
    margin-top: 20px;
    padding-bottom: 50px;
    font-family: 'Red Hat Display', sans-serif;
}
.hed{
    margin-top: 30px;
    font-family: 'Literata', serif;
    font-weight:bold;
}
.played{
   padding-top: 30px;
}
.logo_img{
    border-radius: 8px;
}
.quiz-info {

    display: flex;
  
    justify-content: space-between;
    width: 100%;
    margin-top: 58px;
}
#hr1{
    width:70%; 
    height:50px
}
@media only screen and (max-width:1200px){
    .quiz-info{
        margin-top: 38px;
    }
}
@media only screen and (max-width:600px){
     .slide_img{
        height:40vh;
     }
     .para{
        margin-top: 0px;
     }
     #hr1{
    height:0px;
     }
}

@media (min-width:992px){
    .quiz-info{
        margin-bottom: 0px;
    }
   
}
.questions-length[data-v-11222bf8], .times-played[data-v-11222bf8] {
    font-size: 15px;
    padding: 1px 6px;
    border-radius: 4px;
    background: #f2f2f2;
    /* -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1); */
    box-shadow: 0 0 0 1px #0000001a;
}
